@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif !important;
}

:root {
  --bg-color: #081b29;
  --main-color: #00abf0;
  --text-color: #333;
  --second-text-color: #555;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
  --pages-color: linear-gradient(90deg, #fff, #ddd);
  --border: 0.125rem solid #00abf0;
  --box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.2);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-color) !important;
  min-height: 100vh;
  color: var(--text-color);
  font-family: "Poppins", sans-serif !important;
}
.wrapper {
  position: relative;
  width: 66rem;
  height: 43.5rem;
  perspective: 250rem;
  /* height: 100vh; */
  padding: 2rem;
  animation: show-animate 2s forwards;
}
@keyframes show-animate {
  0%,
  30% {
    opacity: 0;
    transform: rotate(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
.cover {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow: var(--box-shadow);
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  transform-origin: right;
}
.cover.cover-left {
  z-index: -1;
}
.cover.cover-right {
  z-index: 100;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.cover.cover-right.turn {
  transform: rotateY(180deg);
}

/* Profile Page */

.book {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}
.book .book-page {
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--pages-color);
  box-shadow: 0 0 0.6rem rgba(0 0 0 0.1);
  display: flex;
  padding: 2rem;
}
.book-page.page-left {
  box-shadow: -0.6rem 0.6rem 0.6rem rgba(0 0 0 0.1);
}
.book-page .profile-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.book-page .profile-page img {
  /* width: 100%; */
  max-width: 180px;
  border-radius: 50%;
  border: 0.25rem solid var(--main-color);
  margin-bottom: 0.8rem;
}
.book-page .profile-page h1 {
  font-size: 2.7rem !important;
  line-height: 1 !important;
}
.book-page .profile-page h3 {
  font-size: 1.5rem !important;
  color: var(--main-color);
}
.book-page .profile-page .social-media {
  margin: 0.6rem 0 0.8rem;
}
.book-page .profile-page .social-media a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  border: var(--border);
  border-radius: 50%;
  color: var(--main-color);
  margin: 0 0.2rem;
  transition: all 0.3s ease-in-out;
}
.book-page .profile-page .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}
.book-page .profile-page p {
  text-align: justify;
  margin-bottom: 0;
}
.book-page .profile-page .btn-box {
  margin: 1.2rem;
}
.book-page .profile-page .btn-box .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3rem;
  background: var(--main-color);
  border-radius: 0.3rem;
  border: var(--border);
  font-size: 1rem !important;
  color: var(--white-color);
  font-weight: 500;
  margin: 0 1rem;
  transition: all 0.5s ease-in-out;
}
.book-page .profile-page .btn-box .btn:hover {
  background: transparent;
  color: var(--main-color);
}
.book-page .profile-page .btn-box .btn:nth-child(2) {
  background: transparent;
  color: var(--main-color);
  transition: all 0.5s ease-in-out;
}
.book-page .profile-page .btn-box .btn:nth-child(2):hover {
  background: var(--main-color);
  color: var(--white-color);
}

@media (min-width: 1400px) {
  .wrapper {
    height: 45rem;
  }
}

.book-page.page-right {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.book-page.page-right.turn {
  transform: rotateY(-180deg);
}
/* Front / Back  Page */

.book-page .page-front,
.book-page .page-back {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: var(--pages-color);
  padding: 20px;
}
.book-page .page-front {
  transform: rotateY(0deg) translateZ(1px);
}
.book-page .page-back {
  transform: rotateY(180deg) translateZ(1px);
}
.book-page .workedu-box {
  border-left: var(--border);
}
.workedu-box .workedu-content {
  position: relative;
  margin-left: 1.6rem;
  margin-bottom: 1.2rem;
}
.workedu-box .workedu-content::before {
  content: "";
  position: absolute;
  top: 0%;
  left: -2.25rem;
  width: 1.2rem;
  height: 1.2rem;
  background: var(--main-color);
  border-radius: 50%;
}
.book-page .title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 32px !important;
  font-weight: 600 !important;
}
.book-page .workedu-content .year {
  color: var(--main-color);
}
.book-page .workedu-content .year i {
  margin-right: 0.4rem;
}
h3 {
  font-size: 18.72px !important;
  font-weight: 600 !important;
}
.number_page {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

/* Next Previous button CSS */

.nextprev-btn {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 2rem;
  color: var(--second-text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.nextprev-btn:hover {
  color: var(--main-color);
}
.nextprev-btn.back {
  left: 1.5rem;
}

/* Services Section */

.services-content .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3rem;
  background: var(--main-color);
  border-radius: 0.3rem;
  border: var(--border);
  font-size: 1rem;
  color: var(--white-color);
  font-weight: 500;
  margin: 0 1rem;
  transition: all 0.5s ease-in-out;
}
.services-content .btn:hover {
  background: transparent;
  color: var(--main-color);
}

.services-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}
.services-box .services-content {
  flex: 1 1 10rem;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.3s ease;
}
.services-box .services-content:hover {
  box-shadow: var(--box-shadow);
}
.services-box .services-content i {
  font-size: 2.5rem;
  color: var(--main-color);
}
.services-box .services-content h3 {
  font-size: 1.1rem;
}
.services-box .services-content p {
  padding: 0 0.2rem;
}

/* Skills Section */

.skills-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.skills-box .skills-content {
  flex: 1 1 20rem;
}
.skills-box .skills-content h3 {
  font-size: 1.3rem;
  line-height: 1;
  margin-bottom: 0.4rem;
}
.skills-box .skills-content .content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1.2rem;
}
.skills-box .skills-content .content span {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 5rem;
  border: var(--border);
  border-radius: 0.3rem;
  font-weight: 600;
  transition: all 0.4s ease;
  cursor: pointer;
}
.skills-box .skills-content .content span:hover {
  box-shadow: var(--box-shadow);
}
.skills-box .skills-content .content span i {
  font-size: 3rem;
  color: var(--main-color);
}

/* Portfolio Section */

.portfolio_wrapper .card {
  height: 100%;
  min-height: 245px;
  overflow: hidden;
  border: 1px solid var(--white-color);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}
.portfolio_wrapper .card span {
  transition: background-position 4s ease-in-out 0s;
  width: 100%;
  height: 100%;
  background-position: top center;
  background-size: cover;
}
.portfolio_wrapper .card:hover span {
  background-position: bottom center;
}

/* Contact Box */
.contact-box {
  text-align: center;
}
.contact-box .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 3rem;
  background: var(--main-color);
  border-radius: 0.3rem;
  border: var(--border);
  font-size: 1rem;
  color: var(--white-color);
  font-weight: 500;
  margin: 0 1rem;
  transition: all 0.5s ease-in-out;
}
.contact-box .btn:hover {
  background: transparent;
  color: var(--main-color);
}
.contact-box .field {
  width: 100%;
  background: transparent;
  border: var(--border);
  border-radius: 0.3rem;
  color: var(--text-color);
  padding: 0.8rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.contact-box .field::placeholder {
  color: var(--text-color);
}
.contact-box textarea {
  resize: none;
  height: 15rem;
}
.back-profile {
  position: absolute;
  bottom: 1.2rem;
  right: 2rem;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: var(--border);
  border-radius: 0.3rem;
  font-size: 1.1rem;
  color: var(--main-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.back-profile:hover {
  background: var(--main-color);
  color: var(--white-color);
}
.back-profile p {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  font-size: 1rem;
  opacity: 0;
  transition: 0.5s;
  color: var(--main-color);
}
.back-profile:hover p {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  top: -1.8rem;
}
